# Generacion Model Relacional

In [5]:
import tkinter as tk
from tkinter import filedialog
import pandas as pd

print("Abriendo ventana de selecci√≥n...")

root = tk.Tk()
root.withdraw() 

ruta_archivo = filedialog.askopenfilename(
    title="Selecciona tu Excel",
    filetypes=[("Archivos Excel", "*.xlsx *.xls")]
)

if ruta_archivo:
    print(f"üöÄ Cargando archivo: {ruta_archivo}")
    
    try:
        # PANDAS PURO: Esto deber√≠a tomar menos de 5 segundos
        # header=1: Asumimos que los t√≠tulos (MOVIL, RUC...) est√°n en la fila 2 de Excel
        df_facturas = pd.read_excel(
            ruta_archivo, 
            sheet_name='2025', 
            header=5
        )
        
        print(f"‚úÖ Lectura inicial completada. Filas detectadas: {len(df_facturas)}")

        # --- LIMPIEZA AUTOM√ÅTICA ---
        
        # 1. Eliminar columnas basura (las que se llaman "Unnamed: ...")
        #df_facturas = df_facturas.loc[:, ~df_facturas.columns.str.contains('^Unnamed')]

        # 2. Eliminar las "tablas peque√±itas" del final
        # L√≥gica: Si la columna 'MOVIL' (o 'RUC') est√° vac√≠a, esa fila no sirve.
        # Ajusta 'MOVIL' por el nombre exacto de una columna que SIEMPRE deba tener datos.
        columna_clave = 'MOVIL' 
        
        if columna_clave in df_facturas.columns:
            filas_antes = len(df_facturas)
            df_facturas = df_facturas.dropna(subset=[columna_clave])
            filas_despues = len(df_facturas)
            print(f"üßπ Se eliminaron {filas_antes - filas_despues} filas (tablas extra al final o vac√≠as).")
        
        # 3. Limpiar s√≠mbolos de moneda (S/) para poder sumar
        # Buscamos columnas que tengan texto tipo "S/" y las convertimos a n√∫meros
        cols_monetarias = [c for c in df_facturas.columns if 'MONTO' in str(c).upper() or 'TOTAL' in str(c).upper()]
        
        for col in cols_monetarias:
            # Si la columna es de tipo texto (object), intentamos limpiarla
            if df_facturas[col].dtype == 'object':
                df_facturas[col] = (
                    df_facturas[col]
                    .astype(str)                  # Convertir a texto
                    .str.replace('S/', '')        # Quitar S/
                    .str.replace(',', '')         # Quitar comas de miles (si hay)
                    .str.replace(' ', '')         # Quitar espacios
                )
                # Convertir a n√∫mero (los errores se vuelven NaN)
                df_facturas[col] = pd.to_numeric(df_facturas[col], errors='coerce')

        print("\nüìä DATOS LISTOS:")
        print(df_facturas.head())
        print(df_facturas.info())
        
    except Exception as e:
        print(f"‚ùå Error: {e}")

else:
    print("No seleccionaste archivo.")

Abriendo ventana de selecci√≥n...
üöÄ Cargando archivo: C:/Users/Usuario/Desktop/Scripts_automatizaci√≥n/Validacion_Facturacion_Liquidacion/2025 FACTURACI√ìN Y COBRANZA.xlsx
‚úÖ Lectura inicial completada. Filas detectadas: 5000

üìä DATOS LISTOS:
  Nombre Facturador Nombre de Facturador Ultimo TIPO DE FACTURACION  \
0             DANNA                       SOFIA           QUINCENAL
1             DANNA                      ANDREE           QUINCENAL
2             DANNA                       SOFIA             SEMANAL
3            ANDREA                      ANDREA           QUINCENAL
4             DANNA                   ALEJANDRA           QUINCENAL

  Comprobante Relacionada       MES      NOMBRE EMPRESA O GRUPO  \
0          FA    F008-728  01.ENERO  RIMAC SEGUROS Y REASEGUROS
1          FA           -  01.ENERO    CERVECERIA SAN JUAN S.A.
2          FA    F008-754  01.ENERO            SAFRESCO PERU SA
3          FA           -  01.ENERO                     ROTAPEL
4          FA           -  01.ENERO           MAPED PERU S.A.C.

                   Nombre Empresa                 CATEGORIA           RUC  \
0      RIMAC SEGUROS Y REASEGUROS                       NaN   20100041953
1  CERVECERIAS PERUANAS BACKUS SA  CERVECERIA SAN JUAN S.A.   20100113610
2                SAFRESCO PERU SA                       NaN  20136222725¬†
3                         ROTAPEL                       NaN   20101314724
4               MAPED PERU S.A.C.                       NaN   20544563441

   ...      BANCO            TIPO DE PAGO TIPO DE NEGOCIACION  \
0  ...    BCP-082  TRANSFERENCIA BANCARIA       transferencia
1  ...        NaN                     NaN           Factoring
2  ...  BBVA-7571         PAGO RECURRENTE     Pago recurrente
3  ...    BCP-082  TRANSFERENCIA BANCARIA       transferencia
4  ...  BBVA-7571         PAGO RECURRENTE     Pago recurrente

                        OBSERVACIONES  IMPORTE NETO Y PAGADO PAGO DETRACCION  \
0                                 NaN                283.436             0.0
1                                 NaN                 93.200             0.0
2                                 NaN                 70.800             0.0
3  CLIENTE PAGA S/1 MAS DE DETRACCION                148.554            17.0
4           SE REALIZO AUTODETRACCION               1602.502           178.0

         FECHA DE PAGO  PAGO RETENCION  FECHA DE PAGO2    /
0                  NaN             NaN             NaN  NaN
1                  NaN             NaN             NaN  NaN
2                  NaN             NaN             NaN  NaN
3  2025-08-01 00:00:00             NaN             NaN  NaN
4  2025-08-13 00:00:00             NaN             NaN  NaN

[5 rows x 51 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 51 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Nombre Facturador                                   4877 non-null   object
 1   Nombre de Facturador Ultimo                         4877 non-null   object
 2   TIPO DE FACTURACION                                 4876 non-null   object
 3   Comprobante                                         4876 non-null   object
 4   Relacionada                                         4994 non-null   object
 5   MES                                                 4877 non-null   object
 6   NOMBRE EMPRESA O GRUPO                              4877 non-null   object
 7   Nombre Empresa                                      4877 non-null   object
 8   CATEGORIA                                           980 non-null    object
 9   RUC                                                 4877 non-null   object
 10  Periodo                                             4874 non-null   object
 11  Periodo Reporte                                     4874 non-null   object
 12  PRIMER VALE                                         4877 non-null   datetime64[ns]
 13  ULTIMO VALE                                         4877 non-null   datetime64[ns]
 14  MONTO SIN IGV                                       4877 non-null   float64
 15  IGV                                                 5000 non-null   object
 16  0.18                                                5000 non-null   float64
 17  MONTO FINAL                                         5000 non-null   float64
 18  # Servicios / Vales                                 4750 non-null   float64
 19  Fecha de env√≠o de Reporte                           4876 non-null   datetime64[ns]
 20  VB / FALTA                                          5000 non-null   object
 21  Fecha Facturaci√≥n                                   4840 non-null   object
 22  Fecha de recepcion                                  4836 non-null   datetime64[ns]
 23  ¬øVALIDADO EN EL PORTAL?                             4849 non-null   object
 24  Vencimiento                                         5000 non-null   datetime64[ns]
 25  D√≠as de no pago                                     4999 non-null   float64
 26  Fecha Pago                                          4615 non-null   datetime64[ns]
 27  N¬∞ FAC / NC                                         4840 non-null   object
 28  EMPRESA: PROACCION O TRANSPORTES                    4877 non-null   object
 29  Dias de credito                                     4877 non-null   float64
 30  DIAS DE VENCIDO                                     5000 non-null   object
 31  Elaboraci√≥n Total                                   5000 non-null   int64
 32  Aprobaci√≥n                                          5000 non-null   object
 33  Recuperacion de Cobranza                            5000 non-null   object
 34  Total Recuperaci√≥n 1                                4615 non-null   float64
 35  Total Recuperaci√≥n 2                                4615 non-null   float64
 36  Rest                                                5000 non-null   object
 37  Recuperaci√≥n de cobranza menos los d√≠as de cr√©dito  4615 non-null   float64
 38  Comprobaci√≥n                                        5000 non-null   object
 39  D√≠a de elaboraci√≥n interna                          5000 non-null   int64
 40  Dias para Visto - Facturar                          5000 non-null   int64
 41  BANCO                                               4615 non-null   object
 42  TIPO DE PAGO                                        4615 non-null   object
 43  TIPO DE NEGOCIACION                                 5000 non-null   object
 44  OBSERVACIONES                                       175 non-null    object
 45  IMPORTE NETO Y PAGADO                               5000 non-null   float64
 46  PAGO DETRACCION                                     4998 non-null   float64
 47  FECHA DE PAGO                                       1623 non-null   object
 48  PAGO RETENCION                                      7 non-null      object
 49  FECHA DE PAGO2                                      3 non-null      float64
 50  /                                                   2 non-null      object
dtypes: datetime64[ns](6), float64(12), int64(3), object(30)
memory usage: 1.9+ MB
None

C:\Users\Usuario\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [6]:
df_facturas.head()

,Nombre Facturador,Nombre de Facturador Ultimo,TIPO DE FACTURACION,Comprobante,Relacionada,MES,NOMBRE EMPRESA O GRUPO,Nombre Empresa,CATEGORIA,RUC,...,BANCO,TIPO DE PAGO,TIPO DE NEGOCIACION,OBSERVACIONES,IMPORTE NETO Y PAGADO,PAGO DETRACCION,FECHA DE PAGO,PAGO RETENCION,FECHA DE PAGO2,/
0,DANNA,SOFIA,QUINCENAL,FA,F008-728,01.ENERO,RIMAC SEGUROS Y REASEGUROS,RIMAC SEGUROS Y REASEGUROS,NaN,20100041953,...,BCP-082,TRANSFERENCIA BANCARIA,transferencia,NaN,283.436,0.0,NaN,NaN,NaN,NaN
1,DANNA,ANDREE,QUINCENAL,FA,-,01.ENERO,CERVECERIA SAN JUAN S.A.,CERVECERIAS PERUANAS BACKUS SA,CERVECERIA SAN JUAN S.A.,20100113610,...,NaN,NaN,Factoring,NaN,93.200,0.0,NaN,NaN,NaN,NaN
2,DANNA,SOFIA,SEMANAL,FA,F008-754,01.ENERO,SAFRESCO PERU SA,SAFRESCO PERU SA,NaN,20136222725,...,BBVA-7571,PAGO RECURRENTE,Pago recurrente,NaN,70.800,0.0,NaN,NaN,NaN,NaN
3,ANDREA,ANDREA,QUINCENAL,FA,-,01.ENERO,ROTAPEL,ROTAPEL,NaN,20101314724,...,BCP-082,TRANSFERENCIA BANCARIA,transferencia,CLIENTE PAGA S/1 MAS DE DETRACCION,148.554,17.0,2025-08-01 00:00:00,NaN,NaN,NaN
4,DANNA,ALEJANDRA,QUINCENAL,FA,-,01.ENERO,MAPED PERU S.A.C.,MAPED PERU S.A.C.,NaN,20544563441,...,BBVA-7571,PAGO RECURRENTE,Pago recurrente,SE REALIZO AUTODETRACCION,1602.502,178.0,2025-08-13 00:00:00,NaN,NaN,NaN

In [7]:
df_facturas.columns

Index([                                 'Nombre Facturador',
                              'Nombre de Facturador Ultimo',
                                      'TIPO DE FACTURACION',
                                              'Comprobante',
                                              'Relacionada',
                                                      'MES',
                                   'NOMBRE EMPRESA O GRUPO',
                                           'Nombre Empresa',
                                                'CATEGORIA',
                                                      'RUC',
                                                  'Periodo',
                                          'Periodo Reporte',
                                              'PRIMER VALE',
                                              'ULTIMO VALE',
                                            'MONTO SIN IGV',
                                                      'IGV',
                                                       0.18,
                                             'MONTO FINAL ',
                                      '# Servicios / Vales',
                                'Fecha de env√≠o de Reporte',
                                               'VB / FALTA',
                                        'Fecha Facturaci√≥n',
                                       'Fecha de recepcion',
                                  '¬øVALIDADO EN EL PORTAL?',
                                              'Vencimiento',
                                          'D√≠as de no pago',
                                               'Fecha Pago',
                                              'N¬∞ FAC / NC',
                         'EMPRESA: PROACCION O TRANSPORTES',
                                          'Dias de credito',
                                          'DIAS DE VENCIDO',
                                        'Elaboraci√≥n Total',
                                               'Aprobaci√≥n',
                                 'Recuperacion de Cobranza',
                                     'Total Recuperaci√≥n 1',
                                     'Total Recuperaci√≥n 2',
                                                     'Rest',
       'Recuperaci√≥n de cobranza menos los d√≠as de cr√©dito',
                                             'Comprobaci√≥n',
                               'D√≠a de elaboraci√≥n interna',
                               'Dias para Visto - Facturar',
                                                    'BANCO',
                                             'TIPO DE PAGO',
                                      'TIPO DE NEGOCIACION',
                                            'OBSERVACIONES',
                                    'IMPORTE NETO Y PAGADO',
                                          'PAGO DETRACCION',
                                            'FECHA DE PAGO',
                                           'PAGO RETENCION',
                                           'FECHA DE PAGO2',
                                                        '/'],
      dtype='object')

In [8]:
# Definimos el mapeo de nombres (Excel -> SQL/Limpio)
mapeo_columnas = {
    'Nombre Facturador': 'nombre_facturador',
    'Nombre de Facturador Ultimo': 'nombre_facturador_ultimo',
    'TIPO DE FACTURACION': 'tipo_facturacion',
    'Comprobante': 'comprobante',
    'Relacionada': 'relacionada',
    'MES': 'mes_contable',
    'NOMBRE EMPRESA O GRUPO': 'empresa_grupo',
    'Nombre Empresa': 'nombre_empresa',
    'CATEGORIA': 'categoria',
    'RUC': 'ruc_cliente',
    'Periodo': 'periodo_operativo',
    'Periodo Reporte': 'periodo_reporte',
    'PRIMER VALE': 'primer_vale',
    'ULTIMO VALE': 'ultimo_vale',
    'MONTO SIN IGV': 'monto_sin_igv',
    'IGV': 'igv',
    '0.18': 'tasa_igv',  # Manejamos el caso donde el nombre es un n√∫mero
    'MONTO FINAL ': 'monto_final', # Nota el espacio al final que ven√≠a en tu Index
    '# Servicios / Vales': 'cantidad_servicios',
    'Fecha de env√≠o de Reporte': 'fecha_envio_reporte',
    'VB / FALTA': 'estado_vb',
    'Fecha Facturaci√≥n': 'fecha_facturacion',
    'Fecha de recepcion': 'fecha_recepcion',
    '¬øVALIDADO EN EL PORTAL?': 'validado_portal',
    'Vencimiento': 'fecha_vencimiento',
    'FECHA DE PAGO': 'fecha_pago_1',
    'PAGO RETENCION': 'pago_retencion',
    'FECHA DE PAGO2': 'fecha_pago_2',
    '/': 'observacion_slash'
}


df_facturas = df_facturas.rename(columns=mapeo_columnas)


df_facturas.columns = df_facturas.columns.str.strip()

df_facturas.head()

,nombre_facturador,nombre_facturador_ultimo,tipo_facturacion,comprobante,relacionada,mes_contable,empresa_grupo,nombre_empresa,categoria,ruc_cliente,...,BANCO,TIPO DE PAGO,TIPO DE NEGOCIACION,OBSERVACIONES,IMPORTE NETO Y PAGADO,PAGO DETRACCION,fecha_pago_1,pago_retencion,fecha_pago_2,observacion_slash
0,DANNA,SOFIA,QUINCENAL,FA,F008-728,01.ENERO,RIMAC SEGUROS Y REASEGUROS,RIMAC SEGUROS Y REASEGUROS,NaN,20100041953,...,BCP-082,TRANSFERENCIA BANCARIA,transferencia,NaN,283.436,0.0,NaN,NaN,NaN,NaN
1,DANNA,ANDREE,QUINCENAL,FA,-,01.ENERO,CERVECERIA SAN JUAN S.A.,CERVECERIAS PERUANAS BACKUS SA,CERVECERIA SAN JUAN S.A.,20100113610,...,NaN,NaN,Factoring,NaN,93.200,0.0,NaN,NaN,NaN,NaN
2,DANNA,SOFIA,SEMANAL,FA,F008-754,01.ENERO,SAFRESCO PERU SA,SAFRESCO PERU SA,NaN,20136222725,...,BBVA-7571,PAGO RECURRENTE,Pago recurrente,NaN,70.800,0.0,NaN,NaN,NaN,NaN
3,ANDREA,ANDREA,QUINCENAL,FA,-,01.ENERO,ROTAPEL,ROTAPEL,NaN,20101314724,...,BCP-082,TRANSFERENCIA BANCARIA,transferencia,CLIENTE PAGA S/1 MAS DE DETRACCION,148.554,17.0,2025-08-01 00:00:00,NaN,NaN,NaN
4,DANNA,ALEJANDRA,QUINCENAL,FA,-,01.ENERO,MAPED PERU S.A.C.,MAPED PERU S.A.C.,NaN,20544563441,...,BBVA-7571,PAGO RECURRENTE,Pago recurrente,SE REALIZO AUTODETRACCION,1602.502,178.0,2025-08-13 00:00:00,NaN,NaN,NaN

In [9]:
len(df_facturas)

5000

In [11]:
df_facturas['primer_vale'].head()

0   2025-01-06
1   2025-01-21
2   2025-01-21
3   2025-01-07
4   2025-01-01
Name: primer_vale, dtype: datetime64[ns]

In [ ]:
import pandas as pd
import pypyodbc as odbc
from sqlalchemy import create_engine, types
from sqlalchemy.engine import URL, create_engine

# Par√°metros de conexi√≥n (guardarlo)
servername = 'LP-MP2P84ND-PE'
database = 'Facturacion'
username = 'sa'
password = '@nalistaDirecto'
# El driver (verificar si es el m√°s actual)
driver = 'ODBC Driver 17 for SQL Server' 

# Creaci√≥n de la URL de conexi√≥n para SQLAlchemy
connection_string = f"DRIVER={{{driver}}};SERVER={servername};DATABASE={database};UID={username};PWD={password}"
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

engine = create_engine(connection_url, fast_executemany=True)

In [16]:
#Tablas a cargar
tb_data = {
    'tb_facturacion': df_facturas
}

In [19]:
from sqlalchemy import create_engine
import urllib


def cargar_multiples_tablas_seguro(tb_data, engine):
    for nombre_tabla, df in tb_data.items():
        try:
            print(f"üöÄ Iniciando carga optimizada de {nombre_tabla}...")
            
            # Configuraci√≥n de conexi√≥n e interaci√≥n con BD
            with engine.connect() as conn:
                # Considerar CHUNKSIZE para carga masiva de lo contrario demora
                df.to_sql(
                    nombre_tabla, 
                    con=conn, 
                    if_exists='replace', 
                    index=False, 
                    chunksize=20000 # Bloques de 20k registros
                )
                conn.commit() # Aseguramos que se guarde
                
            print(f" ----> {len(df)} filas subidas correctamente.")

        except Exception as e:
            print(f"Error cr√≠tico: {e}")
            #considera liberar por si falla 
            engine.dispose()

cargar_multiples_tablas_seguro(tb_data, engine)

üöÄ Iniciando carga optimizada de tb_facturacion...
 ----> 5000 filas subidas correctamente.

In [ ]:
engine.dispose()