# Lectura de archivos

In [1]:
import pandas as pd
import os
import glob

In [2]:
# --- CONFIGURACIN ---
carpeta_fuente = "Fuente de Ventas"
hoja_especifica = "INDICADOR"
lista_dataframes = [] 


patron = os.path.join(carpeta_fuente, "*.xlsx")
archivos = glob.glob(patron)

print(f" Se encontraron {len(archivos)} archivos en '{carpeta_fuente}'")

for ruta_archivo in archivos:
    nombre_archivo = os.path.basename(ruta_archivo)
    print(f"\n 1. Procesando: {nombre_archivo}")
    
    try:
        
        df_temp = pd.read_excel(
            ruta_archivo, 
            sheet_name=hoja_especifica, 
            header=0
        )
        
        # Quitamos las filas vac铆as
        df_temp.columns = df_temp.columns.astype(str)
        df_temp = df_temp.loc[:, ~df_temp.columns.str.contains('^Unnamed')]
        
        
        df_temp['archivo_origen'] = nombre_archivo
        
        
        cols_monetarias = [c for c in df_temp.columns if 'MOVIL' in str(c).upper() or 'TOTAL' in str(c).upper()]
        
        for col in cols_monetarias:
            if df_temp[col].dtype == 'object':
                df_temp[col] = (
                    df_temp[col]
                    .astype(str)
                    .str.replace('S/', '', regex=False)
                    .str.replace(',', '', regex=False)
                    .str.replace(' ', '', regex=False)
                )
                df_temp[col] = pd.to_numeric(df_temp[col], errors='coerce')

        
        df_temp = df_temp.dropna(subset=['MOVIL'], how='all') if 'MOVIL' in df_temp.columns else df_temp

        
        lista_dataframes.append(df_temp)
        print(f" 2. {nombre_archivo} procesado con {len(df_temp)} filas.")

    except Exception as e:
        print(f"Error en {nombre_archivo}: {e}")

 Se encontraron 61 archivos en 'Fuente de Ventas'

 1. Procesando: BD CENTRAL - LIQ#01 29.12 AL 04.01.xlsx
 2. BD CENTRAL - LIQ#01 29.12 AL 04.01.xlsx procesado con 12163 filas.

 1. Procesando: BD CENTRAL - LIQ#01.xlsx
 2. BD CENTRAL - LIQ#01.xlsx procesado con 11926 filas.

 1. Procesando: BD CENTRAL - LIQ#02 05.01 AL 11.01.xlsx
 2. BD CENTRAL - LIQ#02 05.01 AL 11.01.xlsx procesado con 15239 filas.

 1. Procesando: BD CENTRAL - LIQ#02.xlsx
 2. BD CENTRAL - LIQ#02.xlsx procesado con 14534 filas.

 1. Procesando: BD CENTRAL - LIQ#03 12.01 AL 18.01.xlsx
 2. BD CENTRAL - LIQ#03 12.01 AL 18.01.xlsx procesado con 16880 filas.

 1. Procesando: BD CENTRAL - LIQ#03.xlsx
 2. BD CENTRAL - LIQ#03.xlsx procesado con 14636 filas.

 1. Procesando: BD CENTRAL - LIQ#04 19.01 AL 25.01.xlsx
 2. BD CENTRAL - LIQ#04 19.01 AL 25.01.xlsx procesado con 16301 filas.

 1. Procesando: BD CENTRAL - LIQ#04.xlsx
 2. BD CENTRAL - LIQ#04.xlsx procesado con 15226 filas.

 1. Procesando: BD CENTRAL - LIQ#05 26.01 AL 01.02.xlsx
 2. BD CENTRAL - LIQ#05 26.01 AL 01.02.xlsx procesado con 15647 filas.

 1. Procesando: BD CENTRAL - LIQ#05.xlsx
 2. BD CENTRAL - LIQ#05.xlsx procesado con 15412 filas.

 1. Procesando: BD CENTRAL - LIQ#06.xlsx
 2. BD CENTRAL - LIQ#06.xlsx procesado con 15644 filas.

 1. Procesando: BD CENTRAL - LIQ#07.xlsx
 2. BD CENTRAL - LIQ#07.xlsx procesado con 15843 filas.

 1. Procesando: BD CENTRAL - LIQ#08.xlsx
 2. BD CENTRAL - LIQ#08.xlsx procesado con 16109 filas.

 1. Procesando: BD CENTRAL - LIQ#09.xlsx
 2. BD CENTRAL - LIQ#09.xlsx procesado con 15796 filas.

 1. Procesando: BD CENTRAL - LIQ#10.xlsx
 2. BD CENTRAL - LIQ#10.xlsx procesado con 15499 filas.

 1. Procesando: BD CENTRAL - LIQ#11.xlsx
 2. BD CENTRAL - LIQ#11.xlsx procesado con 16170 filas.

 1. Procesando: BD CENTRAL - LIQ#12.xlsx
 2. BD CENTRAL - LIQ#12.xlsx procesado con 16331 filas.

 1. Procesando: BD CENTRAL - LIQ#13.xlsx
 2. BD CENTRAL - LIQ#13.xlsx procesado con 16444 filas.

 1. Procesando: BD CENTRAL - LIQ#14.xlsx
 2. BD CENTRAL - LIQ#14.xlsx procesado con 15914 filas.

 1. Procesando: BD CENTRAL - LIQ#15.xlsx
 2. BD CENTRAL - LIQ#15.xlsx procesado con 16761 filas.

 1. Procesando: BD CENTRAL - LIQ#16.xlsx
 2. BD CENTRAL - LIQ#16.xlsx procesado con 13717 filas.

 1. Procesando: BD CENTRAL - LIQ#17.xlsx
 2. BD CENTRAL - LIQ#17.xlsx procesado con 17114 filas.

 1. Procesando: BD CENTRAL - LIQ#18.xlsx
 2. BD CENTRAL - LIQ#18.xlsx procesado con 15320 filas.

 1. Procesando: BD CENTRAL - LIQ#19.xlsx
 2. BD CENTRAL - LIQ#19.xlsx procesado con 16967 filas.

 1. Procesando: BD CENTRAL - LIQ#20.xlsx
 2. BD CENTRAL - LIQ#20.xlsx procesado con 17040 filas.

 1. Procesando: BD CENTRAL - LIQ#21.xlsx
 2. BD CENTRAL - LIQ#21.xlsx procesado con 16928 filas.

 1. Procesando: BD CENTRAL - LIQ#22.xlsx
 2. BD CENTRAL - LIQ#22.xlsx procesado con 17287 filas.

 1. Procesando: BD CENTRAL - LIQ#23.xlsx
 2. BD CENTRAL - LIQ#23.xlsx procesado con 17449 filas.

 1. Procesando: BD CENTRAL - LIQ#24.xlsx
 2. BD CENTRAL - LIQ#24.xlsx procesado con 17492 filas.

 1. Procesando: BD CENTRAL - LIQ#25.xlsx
 2. BD CENTRAL - LIQ#25.xlsx procesado con 17361 filas.

 1. Procesando: BD CENTRAL - LIQ#26.xlsx
 2. BD CENTRAL - LIQ#26.xlsx procesado con 17348 filas.

 1. Procesando: BD CENTRAL - LIQ#27.xlsx
 2. BD CENTRAL - LIQ#27.xlsx procesado con 17014 filas.

 1. Procesando: BD CENTRAL - LIQ#28.xlsx
 2. BD CENTRAL - LIQ#28.xlsx procesado con 17281 filas.

 1. Procesando: BD CENTRAL - LIQ#29.xlsx
 2. BD CENTRAL - LIQ#29.xlsx procesado con 17971 filas.

 1. Procesando: BD CENTRAL - LIQ#30.xlsx
 2. BD CENTRAL - LIQ#30.xlsx procesado con 16573 filas.

 1. Procesando: BD CENTRAL - LIQ#31.xlsx
 2. BD CENTRAL - LIQ#31.xlsx procesado con 14905 filas.

 1. Procesando: BD CENTRAL - LIQ#32.xlsx
 2. BD CENTRAL - LIQ#32.xlsx procesado con 16844 filas.

 1. Procesando: BD CENTRAL - LIQ#33.xlsx
 2. BD CENTRAL - LIQ#33.xlsx procesado con 17727 filas.

 1. Procesando: BD CENTRAL - LIQ#34.xlsx
 2. BD CENTRAL - LIQ#34.xlsx procesado con 18069 filas.

 1. Procesando: BD CENTRAL - LIQ#35.xlsx
 2. BD CENTRAL - LIQ#35.xlsx procesado con 17276 filas.

 1. Procesando: BD CENTRAL - LIQ#36.xlsx
 2. BD CENTRAL - LIQ#36.xlsx procesado con 16816 filas.

 1. Procesando: BD CENTRAL - LIQ#37.xlsx
 2. BD CENTRAL - LIQ#37.xlsx procesado con 16642 filas.

 1. Procesando: BD CENTRAL - LIQ#38.xlsx
 2. BD CENTRAL - LIQ#38.xlsx procesado con 17333 filas.

 1. Procesando: BD CENTRAL - LIQ#39.xlsx
 2. BD CENTRAL - LIQ#39.xlsx procesado con 18052 filas.

 1. Procesando: BD CENTRAL - LIQ#40.xlsx
 2. BD CENTRAL - LIQ#40.xlsx procesado con 17142 filas.

 1. Procesando: BD CENTRAL - LIQ#41.xlsx
 2. BD CENTRAL - LIQ#41.xlsx procesado con 16358 filas.

 1. Procesando: BD CENTRAL - LIQ#42.xlsx
 2. BD CENTRAL - LIQ#42.xlsx procesado con 17576 filas.

 1. Procesando: BD CENTRAL - LIQ#43.xlsx
 2. BD CENTRAL - LIQ#43.xlsx procesado con 17577 filas.

 1. Procesando: BD CENTRAL - LIQ#44.xlsx
 2. BD CENTRAL - LIQ#44.xlsx procesado con 16217 filas.

 1. Procesando: BD CENTRAL - LIQ#45.xlsx
 2. BD CENTRAL - LIQ#45.xlsx procesado con 17437 filas.

 1. Procesando: BD CENTRAL - LIQ#46.xlsx
 2. BD CENTRAL - LIQ#46.xlsx procesado con 18005 filas.

 1. Procesando: BD CENTRAL - LIQ#47.xlsx
 2. BD CENTRAL - LIQ#47.xlsx procesado con 18165 filas.

 1. Procesando: BD CENTRAL - LIQ#48.xlsx
 2. BD CENTRAL - LIQ#48.xlsx procesado con 18674 filas.

 1. Procesando: BD CENTRAL - LIQ#49.xlsx
 2. BD CENTRAL - LIQ#49.xlsx procesado con 17800 filas.

 1. Procesando: BD CENTRAL - LIQ#50.xlsx
 2. BD CENTRAL - LIQ#50.xlsx procesado con 16486 filas.

 1. Procesando: BD CENTRAL - LIQ#51.xlsx
 2. BD CENTRAL - LIQ#51.xlsx procesado con 18372 filas.

 1. Procesando: BD CENTRAL - LIQ#52.xlsx
 2. BD CENTRAL - LIQ#52.xlsx procesado con 13356 filas.

 1. Procesando: BD CENTRAL 2024 - LIQ#50.xlsx
 2. BD CENTRAL 2024 - LIQ#50.xlsx procesado con 16915 filas.

 1. Procesando: BD CENTRAL 2024 - LIQ#51.xlsx
 2. BD CENTRAL 2024 - LIQ#51.xlsx procesado con 17543 filas.

 1. Procesando: BD CENTRAL 2024 - LIQ#52.xlsx
 2. BD CENTRAL 2024 - LIQ#52.xlsx procesado con 12652 filas.

 1. Procesando: BD CENTRAL_2024 - LIQ#49.xlsx
 2. BD CENTRAL_2024 - LIQ#49.xlsx procesado con 17768 filas.

In [3]:
len(lista_dataframes)

61

In [4]:
columnas_finales = [
    "IdServicio", "IdConductor", "Flota", "COMISION DIRECTO", "VEHICULO SOLICITADO", 
    "MEMBRESA", "IdMovil", "PlacaAuto", "ModeloAuto", "Conductor", "Fecha_Servicio", 
    "Hora_Servicio", "DIA", "TIPO", "Revisado", "Total_Vale", "PEAJE + PARQUEO", 
    "MONTO TARIFA", "MONTO A LIQUIDAR", "COMISION CONDUCTOR", "COSTO DE VENTA", 
    "Observacion", "NombreComercial", "NombreCompleto", "DescModoReserva", 
    "DescTipoPago", "DescTipoServicio", "DirOrigen", "ZonaOrigen", "DistritoOrigen", 
    "Promocion", "Descuento Promocion", "TipoUsuario", "Estrellas", "Zonas", 
    "TIPO_DE_SERVICIO:", "ITINERARIO", "UNIDAD DE NEGOCIO", "GRUPOS", 
    "TIPO DE SERVICIO", "Total Propina", "BonoConductor", "Total_Otro"
]

In [5]:
# Uniendo Dataframes en uno solo
lista_limpia = []

for i, df in enumerate(lista_dataframes):
    
    cols_presentes = [c for c in columnas_finales if c in df.columns]
    
    df_filtrado = df[cols_presentes].loc[:, ~df[cols_presentes].columns.duplicated()].copy()
    
    lista_limpia.append(df_filtrado)
    
    #staus de carga
    if i % 10 == 0:
        print(f"Procesados {i} de {len(lista_dataframes)}...")


df_final = pd.concat(lista_limpia, ignore_index=True)

print(f" 隆Listo! DataFrame final consolidado con {len(df_final)} filas.")

Procesados 0 de 61...
Procesados 10 de 61...
Procesados 20 de 61...
Procesados 30 de 61...
Procesados 40 de 61...
Procesados 50 de 61...
Procesados 60 de 61...
 隆Listo! DataFrame final consolidado con 1003044 filas.

In [6]:
len(df_final)

1003044

In [7]:
df_final.head()

,IdServicio,IdConductor,Flota,COMISION DIRECTO,VEHICULO SOLICITADO,MEMBRESA,PlacaAuto,ModeloAuto,Conductor,Fecha_Servicio,...,TIPO_DE_SERVICIO:,ITINERARIO,UNIDAD DE NEGOCIO,GRUPOS,TIPO DE SERVICIO,Total Propina,BonoConductor,Total_Otro,IdMovil,DIA
0,5436243,2978.0,FLOTA PROPIA,0.279,VAN,NO,CSH676,REFINE,Jorge Luis Montenegro Vergara,2025-12-29,...,NaN,NaN,URBANO,CORPORATIVO,CORPORATIVO,0.0,NaN,23.9,NaN,NaN
1,5438628,2978.0,FLOTA PROPIA,0.279,AUTO,NO,CSH676,REFINE,Jorge Luis Montenegro Vergara,2025-12-29,...,NaN,NaN,DESTINO,CORPORATIVO,CORPORATIVO,0.0,NaN,5.9,NaN,NaN
2,5437787,2978.0,FLOTA PROPIA,0.279,AUTO,NO,CSH676,REFINE,Jorge Luis Montenegro Vergara,2025-12-29,...,NaN,NaN,DESTINO,PARTICULAR,PARTICULAR,0.0,NaN,27.0,NaN,NaN
3,5422269,2978.0,FLOTA PROPIA,0.279,AUTO,NO,CSH676,REFINE,Jorge Luis Montenegro Vergara,2025-12-31,...,NaN,NaN,DESTINO,CORPORATIVO,CORPORATIVO,0.0,NaN,32.5,NaN,NaN
4,5431114,2978.0,FLOTA PROPIA,0.279,AUTO,NO,CSH676,REFINE,Jorge Luis Montenegro Vergara,2025-12-31,...,NaN,NaN,DESTINO,PARTICULAR,PARTICULAR,0.0,NaN,33.0,NaN,NaN

In [8]:
df_final['IdMovil']=df_final['IdMovil'].astype(str)
df_final['Flota']=df_final['Flota'].astype(str)
df_final['IdServicio']=df_final['IdServicio'].astype(str)
df_final['IdConductor']=df_final['IdConductor'].astype(str)
df_final.dtypes

IdServicio                     object
IdConductor                    object
Flota                          object
COMISION DIRECTO              float64
VEHICULO SOLICITADO            object
MEMBRESA                      object
PlacaAuto                      object
ModeloAuto                     object
Conductor                      object
Fecha_Servicio         datetime64[ns]
Hora_Servicio                  object
TIPO                           object
Revisado                       object
Total_Vale                    float64
PEAJE + PARQUEO               float64
MONTO TARIFA                   object
MONTO A LIQUIDAR              float64
COMISION CONDUCTOR            float64
COSTO DE VENTA                float64
Observacion                    object
NombreComercial                object
NombreCompleto                 object
DescModoReserva                object
DescTipoPago                   object
DescTipoServicio               object
DirOrigen                      object
ZonaOrigen                     object
DistritoOrigen                 object
Promocion                      object
Descuento Promocion           float64
TipoUsuario                    object
Estrellas                     float64
Zonas                          object
TIPO_DE_SERVICIO:              object
ITINERARIO                     object
UNIDAD DE NEGOCIO              object
GRUPOS                         object
TIPO DE SERVICIO               object
Total Propina                 float64
BonoConductor                 float64
Total_Otro                    float64
IdMovil                        object
DIA                            object
dtype: object

In [9]:
df_final[df_final['IdServicio'] == '5437300']

,IdServicio,IdConductor,Flota,COMISION DIRECTO,VEHICULO SOLICITADO,MEMBRESA,PlacaAuto,ModeloAuto,Conductor,Fecha_Servicio,...,TIPO_DE_SERVICIO:,ITINERARIO,UNIDAD DE NEGOCIO,GRUPOS,TIPO DE SERVICIO,Total Propina,BonoConductor,Total_Otro,IdMovil,DIA
930820,5437300,3621.0,AEROLINEAS,0.25,AUTO,NO,CJI139,Versa,ULISES ANTONIO GONZALES HUARCAYA,2025-12-28,...,NaN,NaN,DESTINO,PARTICULAR,PARTICULAR,0.0,NaN,11.0,nan,NaN

# Subida de archivos al servidor

In [10]:
import pandas as pd
import pypyodbc as odbc
from sqlalchemy import create_engine, types
from sqlalchemy.engine import URL, create_engine

# Par谩metros de conexi贸n (guardarlo)
servername = 'LP-MP2P84ND-PE'
database = 'Marketing'
username = 'sa'
password = '@nalistaDirecto'
# El driver (verificar si es el m谩s actual)
driver = 'ODBC Driver 17 for SQL Server' 

# Creaci贸n de la URL de conexi贸n para SQLAlchemy
connection_string = f"DRIVER={{{driver}}};SERVER={servername};DATABASE={database};UID={username};PWD={password}"
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

engine = create_engine(connection_url, fast_executemany=True)

In [11]:
df_final = df_final[df_final['IdServicio'] != 'nan']

In [12]:
df_final[df_final['IdServicio'] == 'nan']

Empty DataFrame
Columns: [IdServicio, IdConductor, Flota, COMISION DIRECTO, VEHICULO SOLICITADO, MEMBRESA, PlacaAuto, ModeloAuto, Conductor, Fecha_Servicio, Hora_Servicio, TIPO, Revisado, Total_Vale, PEAJE + PARQUEO, MONTO TARIFA, MONTO A LIQUIDAR, COMISION CONDUCTOR, COSTO DE VENTA, Observacion, NombreComercial, NombreCompleto, DescModoReserva, DescTipoPago, DescTipoServicio, DirOrigen, ZonaOrigen, DistritoOrigen, Promocion, Descuento Promocion, TipoUsuario, Estrellas, Zonas, TIPO_DE_SERVICIO:, ITINERARIO, UNIDAD DE NEGOCIO, GRUPOS, TIPO DE SERVICIO, Total Propina, BonoConductor, Total_Otro, IdMovil, DIA]
Index: []

[0 rows x 43 columns]

In [13]:
#Tablas a cargar
tb_data = {
    'tb_servicios': df_final
}

In [14]:
from sqlalchemy import create_engine
import urllib


def cargar_multiples_tablas_seguro(tb_data, engine):
    for nombre_tabla, df in tb_data.items():
        try:
            print(f" Iniciando carga optimizada de {nombre_tabla}...")
            
            # Configuraci贸n de conexi贸n e interaci贸n con BD
            with engine.connect() as conn:
                # Considerar CHUNKSIZE para carga masiva de lo contrario demora
                df.to_sql(
                    nombre_tabla, 
                    con=conn, 
                    if_exists='replace', 
                    index=False, 
                    chunksize=20000 # Bloques de 20k registros
                )
                conn.commit() # Aseguramos que se guarde
                
            print(f" ----> {len(df)} filas subidas correctamente.")

        except Exception as e:
            print(f"Error cr铆tico: {e}")
            #considera liberar por si falla 
            engine.dispose()

cargar_multiples_tablas_seguro(tb_data, engine)

 Iniciando carga optimizada de tb_servicios...
 ----> 986129 filas subidas correctamente.

In [15]:
engine.dispose()